/* Provide sufficient contrast against white background */
body {
  background-image: linear-gradient(to right top, #1d2237, #29314d, #364064, #43507b, #506194);
  height: 100vh;
}

a {
  color: #0366d6;
}

p, h1, h2, h3, h4, h5 {
  color: whitesmoke
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
